#临时文件
tmp

#开发困难记录
DifficultyRecord.txt

#相关资料
Docs
CompetitionDescription


#本地配置文件
.local

# ==========================================
# 1. FPGA / Vivado / Procise 运行和生成文件
# ==========================================
**/runs/
**/rundir/
**/xsim.dir/
*.log
*.jou
*.pb
*.str
*.backup.log
*.backup.jou
webtalk*

# 综合与实现产生的比特流及物理数据文件（除非团队强制要求提交 bit，否则不建议入库）
*.bit
*.bin
*.rbt
*.drc
*.phy
*.edif

# 仿真产生的临时文件
*.sdb
*.rlx
*.exe
*.mem
*.dbg
xsimk.exe

# ==========================================
# 2. Python 缓存文件
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# 3. 操作系统及编辑器缓存
# ==========================================
.DS_Store
Thumbs.db
.vscode/
.idea/